body 
   {  
     margin:0px;
	 background-color:;
   }
	 
	 
	 
.main{background-color:#06032e;
	 padding-top:20px;
	 padding-bottom:20px;
	 text-align:center;
	 color:yellow;
	 margin-top:00px;
	 font:move;}
		 
	 
h1{
    line-height: 0.6;
	text-align:center;
	color:white;
	margin-top:50px;
	font:move;
	
	}
	
	
.container{
	
	width:100%;
	position:absolute;
	top:0px;
	margin-right:auto;
	margin-left: 0px;
	background-color:black;
	
    }
	
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   }



li {
    float: left;
   }




li a {
	
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     transition:0.8s;
    }



li a:hover:not(.active) {
  background-color: #0fdbfa;
}


.active {
         background-color:#020317;
		}


 .line{
	    padding-top:10px;
		padding:bottom:10px;
       }
	   
	   
.caption{padding-top:10px;
		padding-bottom:10px;
		background-color:#26261f;
		color:white;
		text-align:center;
		letter-spacing:0.3;
       }
	   
	   
.main1{display:flex}


.left_1{flex:40%;
		background-color:#faf573;
       }
	   
	   
	   
.right_1{flex:60%;
         background-color:white;
        }


.right_1 h2{padding-left:15px;
			padding-right:15px;
			color:black;
			}
			
			
			
.right_1 p{padding-left:15px;
		text-align:justify;
		padding-right:15px;}




